# **Discrete Data Classification using Naive Bayes Classifier**

In [41]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn import metrics

In [1]:
df=pd.read_csv("PlayTennis.csv")
value=['Outlook','Temprature','Humidity','Wind']
df

NameError: name 'pd' is not defined

In [43]:
len(df)           #Dataset Length

14

In [44]:
df.shape  #To see the number of rows and columns in our dataset:

(14, 5)

In [45]:
df.describe()     #To see statistical details of the dataset:

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9

In [46]:
#machine learning algorithms can only learn from numbers (int, float, doubles .. )
#so let us encode it to int
from sklearn import preprocessing
string_to_int= preprocessing.LabelEncoder()                     #encode your data
df=df.apply(string_to_int.fit_transform) #fit and transform it
df

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [47]:
#To divide our data into attribute set and Label:
feature_cols = ['outlook',	'temp',	'humidity',	'windy'	]
X = df[feature_cols]                               #contains the attribute 
y = df.play                               #contains the label

In [48]:
from sklearn.naive_bayes import CategoricalNB

In [49]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=109) # 70% training and 30% test

In [50]:
NBClassifier=CategoricalNB()
NBClassifier.fit(X_train,y_train)

CategoricalNB()

In [51]:
#Predict the response for test dataset
y_pred= NBClassifier.predict(X_test)

In [52]:
# Model Accuracy, how often is the classifier correct?
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.4

# **Evaluating the Algorithm**

In [53]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1 0]
 [3 1]]
              precision    recall  f1-score   support

           0       0.25      1.00      0.40         1
           1       1.00      0.25      0.40         4

    accuracy                           0.40         5
   macro avg       0.62      0.62      0.40         5
weighted avg       0.85      0.40      0.40         5